<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logdir" value="./Logs" />
	<variable name="logfilepath" value="${date:format=yyyy}/${date:format=MM}/${date:format=dd}" />

	<targets>
		<target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
			<highlight-row condition="contains('${message}', 'topic')" foregroundColor="Cyan" />
			<highlight-row condition="contains('${message}', 'JWT')" foregroundColor="Blue" />

			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<target name="logfile" xsi:type="File" fileName="${logdir}/${logfilepath}.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>